.root {
    display: flex;
    justify-content: center;
    padding: 16px;
    width: 380px;
    height: 500px;
}

.card-body {
    padding: 2rem 0 !important;
}

.card-text {
    padding: 0.3rem 1rem;
    font-size: 1rem;
}

.card-img-top.img-fluid {
    width: 10vw;
    height: 10vh;
    object-fit: cover;

}

.p {
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    height: 140px;
}