.root{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    min-height: 350px;
    align-content: center;
    justify-content: center;
    gap: 15px;
    color: white;
}
